img{
    height: 700px;
}
.example-card{
    /* height: 350px;
    width: 250px;
    float: left;
    margin: 10px;
    text-align: center; */
    /* border: 2px solid gray;
    box-shadow: 2px 2px 2px gray; */
    /* border-radius: 10px; */
}
.img{
    height: 200px;
    width: 240px;
}
button{
  margin: 10px;
  width: 180px;
}