<!-- <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center" *ngFor="let products of cartList" >
            <div class="col-md-5"><img class="card-img-top mb-2 mb-md-0" src="{{products.productImg}}" alt="..." /></div>

            <div class="col-md-5" >
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">{{products.productName}}</h1>
                <div class="fs-5 mb-5">
                    
                    <span>{{products.price}}</span>
                </div>
                <p class="lead">{{products.description}}</p>

                

                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
                
            </div>
        </div>
    </div>
</section> -->
 <ng-container *ngIf="lock">
<div class="container">
    <div class="card">
        <h5 class="card-title" style="font-size: 40px;">My Cart</h5>

    </div>
    <div class="center">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/empty-cart-5521508-4610092.png" alt="">
        <h3>Your cart is empty!</h3>
        <h4>Add item to it now1</h4>
        <button class="btn btn-primary" routerLink="/products">ShopNow</button>
    </div>
</div>
</ng-container>


<!--<ng-container *ngIf="tableLock">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive" >
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Rating</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Active</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of cartList">
                            <td>{{i.productName}}</td>
                            <td><img src="{{i.productImg}}"></td>
                            <td>{{i.description}}</td>
                            <td>{{i.categoryId}}</td>
                            <td>{{i.rating}}</td>
                            <td>
                                <button  class="btn btn-light" (click)="inc(i)"><mat-icon>add</mat-icon></button>
                                    <span class="span">{{i.quantity}}</span>
                                    <button class="btn btn-light btn-sm" (click)="dec(i)" style="margin-right: 50px;"><mat-icon>remove</mat-icon></button>
                            </td>
                            <td>{{i.price}}</td>
                            <td>{{i.isAvailble}}</td>
                            <td>
                                <button class="byn btn-danger"><mat-icon color="warn" (click)="remove(i)">delete</mat-icon></button>
                            </td>
                        </tr>
                    </tbody>
    
                </table>
            </div>
        </div>
    </div>
</ng-container><br><br>
<ng-container  *ngIf="!lock">
    <div class="container outerdiv">
        <h1>Billing</h1>
        <table class="table" style="text-align: left;">
            <thead>
              <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Product Price</th>
              </tr>
            </thead>
            <tbody *ngFor="let products of cartList">
              <tr>
                <th scope="row">{{products.productName}}</th>
                <td>{{products.price}}</td>
              </tr>
            </tbody><br>
            <tr><b>Total Price</b>
                <td>{{totalPrice}}</td>
            </tr>
            
          </table>
          <button class="btn btn-primary" routerLink="/products" style="margin-bottom: 50px;">ShopMore</button>
          <button class="btn btn-danger" style="margin-left: 300px;margin-bottom: 50px;">Order Now</button>
    </div>
</ng-container>


 -->

<!-- my code -->

<ng-container *ngIf="!lock">

    <div class="row no-gutters">

        <div class="col-sm-8 details">
        
                <div class="card" style="width: 600px; height: 300px " *ngFor="let i of cartList">
                    <div class="row no-gutters">
                        <div class="col-sm-5">
                            <img class="card-img" src="{{i.productImg}}" class="rounded-end" alt=" image not loaded!">
                        </div>
                        <div class="col-sm-7">
                            <div class="card-body">
                                <h5 class="card-title">{{i.productName}}</h5>
                                <p class="card-text">{{i.description}}</p>

                                <button class="btn btn-secondary" style="margin-right: 20px;"  > Quantity : {{i.quantity}}</button>
                                <button class="btn btn-info" > Price : Rs.{{i.price}}</button><br><br>

                                <div class="inc-dec-button">

                                    <button  class="btn btn-light" (click)="inc(i)"><mat-icon>add</mat-icon></button>
                                    <!-- <button mat-raised-button color="accent" (click)="inc(item)"><mat-icon>add</mat-icon></button> -->
                                    <span class="span"> {{i.quantity}} </span>
                                    <button class="btn btn-light btn-sm" (click)="dec(i)" style="margin-right: 50px;"><mat-icon>remove</mat-icon></button>
                                    <button (click)="remove(i)" class="btn btn-light btn-sm" ><mat-icon color="warn">delete</mat-icon></button>
                                    
                                </div>

                                <span class="span">Category ID : {{i.categoryId}} </span>
                                <span class="span">  <mat-icon>
                                    {{showIcon(i)}}
                                  </mat-icon>{{i.rating}} </span>

                                <div>

                                </div>
                                <!-- <a href="#" class="btn btn-primary">View Profile</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            
           
           
        </div>

        <br><br><br><br><br><br><br><br>

        
        <div class="col-sm-4 orderDetails"  >
            <div class="input-group my-4">

                <input type="text" class="form-control" name="" placeholder="Promo code">

                <button class="btn btn-light text-primary" (click)="apply()">Apply</button>

            </div>
            <h1>Order Details</h1>
            <table class="table" style="text-align: left;">
                <thead>
                  <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Price</th>
                  </tr>
                </thead>

                <tbody *ngFor="let products of cartList">
                  <tr>
                    <th scope="row">{{products.productName}}</th>
                    <td>{{products.price}}</td>
                  </tr>
                </tbody><br>

                <tbody>
                    <tr>
                        <th scope="row">Delivery Charge</th>
                       <i><td class="text-decoration-line-through" >99</td>FREE</i> 
                    </tr>
                </tbody>
                <tr><b>Total Price</b>
                    <td>{{totalPrice}}</td>
                </tr>
                
              </table>
              <button class="btn btn-primary" routerLink="/products" style="margin-bottom: 20px; margin-left:60px;">ShopMore</button>
              <!-- <button (click)="emptycart()" class="btn btn-danger" style="margin-right: 30px;">Empty cart</button> -->
              <button class="btn btn-danger" style="margin-left: 50px;margin-bottom: 20px;">Order Now</button>
        </div>
       
    </div>

</ng-container>


<!-- coupen -->

<!-- <div class="container">
    <div class="card">
           <div class="form">
               <div class="left-side">
                       <span class="triangle "></span>
                       <div class="flattext"><h2>FLAT $40 OFF</h2></div>
               </div>
               <div class="right-side">
                   <div class="upper-content">
                       <div class="flat">
                           <p>AVAIL FLAT</p>
                           <h3>$40 OFF</h3>
                           <h4>+ FREE DELIVERY</h4>
                       </div>
                       <img src="https://i.imgur.com/W4V3L6j.png">
                   </div>
                   <div class="middle-content">
                       <div class="coupon">
                           <h4>Coupon code : </h4>
                           <h3>MYNTRA $40</h3>
                           <p>Applicable on your first order</p>
                       </div>
                       <button>Sign up now</button>
                   </div>
                   <hr>
                   <div class="last">
                     
                       <div class="quality">
                                <img src="https://imgur.com/a0TMZC7.jpg">
                                 <p>Genuine Products</p>
                       </div>
                       <div class="quality">
                                 <img src="https://imgur.com/8IZhLGS.jpg">
                                 <p>Try & Buy</p>
                       </div>
                       <div class="quality">
                                 <img src="https://imgur.com/TezkMX1.jpg">
                                 <p>Easy Exchanges</p>
                       </div>
                    
                   </div>
   
               </div>
           </div>
    </div>
   </div> -->