
<div class="listProduct">
    <h1>All Product</h1> 
    <div class="listproduct" *ngFor="let item of list">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{item.productName}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{item.productImg}} alt="Photo of a Shiba Inu" class="img">
         <mat-card-content>
              </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="Update(item.id)">Update</button>
          {{item.price}}
          <button mat-raised-button color="warn" (click)="Delete(item.id)">Delete</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>


  
