
<div class="listProduct">
    <h1>All Product</h1>
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">   
            <div class="row gx-4 gx-lg-8 row-cols-2 row-cols-md-3 row-cols-xl-5 justify-content-center">   
                <div class="col mb-5" *ngFor="let item of list">  
                    
                    <div class="card h-100 card-" style="border: 2px solid rgb(41, 40, 40);box-shadow: 5px 5px 5px;"> 
                        <h1>{{item.productName}}</h1>
                        <!-- Product image--> 
                        <img class="card-img-top" src={{item.productImg}} alt="..." /> 
                        <!-- Product details--> 
                        <div class="card-body p-4"> 
                            <div class="text-center"> 
                                <!-- Product name--> 
                                <h5 class="fw-bolder"> 
                                 <a>  {{item.name}} </a> 
                                </h5>  
                                <!-- Product price--> 
                                <h1>price:- {{item. price}} </h1> 
                            </div>  
                        </div>   
                        <!-- Product actions-->   
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">  
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto text-bg-danger"  (click)="Delete(item.id)">Delete Item</a></div>
                            <p></p> 
                            <div class="text-center">   
                                <a class="btn btn-outline-dark mt-auto text-bg-success" (click)="Update(item.id)" >Update Item</a>   
                            </div>   
                        </div>   
                    </div>   
                </div>   
            </div>   
        </div>   
    </section>
    
   
    <div class="listproduct" *ngFor="let item of list">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{item.productName}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{item.productImg}} alt="Photo of a Shiba Inu" class="img">
         <mat-card-content>
              </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="Update(item.id)">Update</button>
          {{item.price}}
          <button mat-raised-button color="warn" (click)="Delete(item.id)">Delete</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>


  
