
<div class="listProduct">
    <h1 style="margin-left:30px;"><u>All Product</u></h1>
   

    <div class="listproduct" *ngFor="let item of list">
        <mat-card class="listCard">
          <mat-card-header style="text-align:center">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{item.productName}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src={{item.productImg}} alt="Photo of a Shiba Inu" class="img"><br>
           <mat-card-content><b>
            Price : Rs.{{item.price}}</b>
                </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button style="background-color: crimson;" (click)="Update(item.id)">Update</button>
            <br>
            <button mat-raised-button style="background-color: burlywood;" (click)="Delete(item.id)">Delete</button>
          </mat-card-actions>
        </mat-card>
  
      </div>
  </div>


  

  
