<div class="container row">
    <div class="col-md-6">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/empty-cart-5521508-4610092.png" style="margin-top:80px; text-align: left; ">
    </div>
    <div class="formclass col-md-6" >
    <form [formGroup]="item" (ngSubmit)="submit()" class="p-4 text-bg-light">
        <h1 style="color:black">Update Product</h1><br>
        <mat-form-field class="md col-6">
            <input matInput placeholder="Name" apperance="fill" formControlName="productName">
            <mat-icon matTextSuffix>productName</mat-icon>
            <mat-label>ItemName</mat-label>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="productImg" apperance="fill" formControlName="productImg">
            <mat-icon matTextSuffix>image</mat-icon>
            <mat-label>productImg</mat-label>           
        </mat-form-field><br>        
        <mat-form-field>
            <input matInput placeholder="Price" apperance="fill" formControlName="price">
            <mat-icon matTextSuffix>price</mat-icon>
            <mat-label>Price</mat-label>         
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Price" apperance="fill" formControlName="categoryId">
            <mat-icon matTextSuffix>category</mat-icon>
            <mat-label>categoryId</mat-label>         
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="Price" apperance="fill" formControlName="description">
            <mat-icon matTextSuffix>description</mat-icon>
            <mat-label>description</mat-label>         
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="rating" apperance="fill" formControlName="rating">
            <mat-icon matTextSuffix>rating</mat-icon>
            <mat-label>rating</mat-label>         
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="Price" apperance="fill" formControlName="isAvailble">
            <mat-icon matTextSuffix>isAvailble</mat-icon>
            <mat-label>isAvailble</mat-label>         
        </mat-form-field><br>
        <button mat-raised-button color="warn" type="submit">Update</button>

    </form>

    </div>
</div>

