
.listproduct{
    height: 200px;
    width:200px;
    box-shadow: 5px 5px 5px gray;
    float: left;
    margin: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    margin-top:165px;
    margin-right: 25px;
}



main{
 margin-bottom: 300px;
}
img{
    height: 50px;
    width: 50px;
}

.nav{
    width: 100%;
    display:flex;
    justify-content: space-between;
}
.nav h1{
 color: blueviolet;
 margin: 0;
 font-size: 40px;
}
.nav ul{
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li{
    padding-left: 15px;
    
}

h1 a{
    color: blueviolet;
    text-decoration: none;
}

.mat-toolbar

{

  position: fixed;

  z-index: 99;

}
.cp-text{ text-align: center; text-shadow: 0 1px rgba(255, 255, 255, 0.1);}