
.listproduct{
    height: 200px;
    width:200px;
    box-shadow: 5px 5px 5px gray;
    float: left;
    margin: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    margin-top:165px;
    margin-right: 25px;
}



main{
 margin-bottom: 300px;
}
img{
    height: 50px;
    width: 50px;
}
.badge:after{
    content:attr(value);
    font-size:12px;
    background: red;
    border-radius:50%;
    padding:3px;
    position:relative;
    left:-8px;
    top:-10px;
    opacity:0.9;
}

