.outerdiv{
    
    text-align: center;
    background-image: url("https://www.shutterstock.com/shutterstock/photos/635241491/display_1500/stock-photo-online-shopping-concept-shopping-cart-small-boxes-laptop-on-the-desk-635241491.jpg");
    height:100vh;
    
}
button{
    margin-top: 300px;
    margin-left: 20px;

    width: 100px;
    color: rgba(34, 5, 5, 0.236)   ;
}
