.authBlock{
    background-color: rgba(0,4,6,0.5);
    text-align: center;
    box-shadow: 12px 12px 12px rgba(107, 104, 104);
}
.displayTable{
    background-image: url("https://img.freepik.com/free-photo/cyber-monday-shopping-sales_23-2148688502.jpg?w=2000");
    background-repeat: no-repeat;
    background-size: cover;
}